@page
@model IgnisMercado.Pages.Empresas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Descricpion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Descricpion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.CorreoElectronico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.CorreoElectronico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Contacto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
