@page
@model RazorPagesMovie.Pages.Propuestas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].NivelDeDificultad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].EstimadoDeHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].CostoEstimado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].DescripcionDeLaPropuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].ListaDeTecnicosPostulados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Propuesta[0].TecnicoAsignado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Propuesta) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeDificultad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimadoDeHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoEstimado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDeLaPropuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListaDeTecnicosPostulados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TecnicoAsignado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
