@page
@model IgnisMercado.Pages.Propuestas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            Title
            </th>
            <th>
            Estimado de Hora
            </th>
            <th>
            Costo Estimado
            </th>
            <th>
            Estado
            </th>
            <th>
            Descripcion de la Propuesta
            </th>
            <th>
            Fecha Limite
            </th>
            <th>
            Nivel de Dificultad
            </th>
            <th>Puesto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Propuesta.Propuestas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimadoDeHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoEstimado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionDeLaPropuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLimite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeDificutad)
            </td>
            <td>
                    @if (item.Puesto != null)
                    {
                        @item.Puesto.TrabajoName
                    }
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.Propuesta.Tecnicos != null)
{
    <h3>Técnicos Asignados</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Birth Data</th>
            <th>Awards</th>
        </tr>

        @foreach (var item in Model.Propuesta.Tecnicos)
        {
            string selectedRow = "";
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Close", "OnGetAsync",
                                  new { tecnicoID = item.ID })
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.BirthDate
                </td>
            </tr>
        }
    </table>
}